/** { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; min-height: 200px; border: 2px solid red; width:400px;}
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }*/
      
#mainContainer {
      border: 2px solid #00a9cd;
      overflow: auto;
      /*height: calc(100% - 70px) !important;*/
}      

.headerCls {
      height: 70px;
      background: #00a9cd;
      color: white;
      /*color: white;//#6a6a6a;*/
      font-size: 40px;
}

.chatFooter {
      position:fixed;
      height:70px;
      bottom:0;
      width:100%;
}

#messages {
      list-style-type: none;
      padding: 15px;
}

.pinkMsgTextColor {
      background: #F9B7FF;
}
.blueMsgTextColor {
      background: #00a9cd;
}

.messageText {
      padding: 10px;
      width:100%;
      /*opacity: 0.5;*/
}
    
.floatLeft {
      float: left;
}      

.floatRight {
      float:right;
}

.msg {
      margin-left:50px;
}

.textDiv {
      width:80%;
      float:left;
}

.sendBtnDiv {
      width:15%;
      float:left;
}

.marginTop5PX {
      margin-top: 5px;
}

.loginHeaderColor {
      color: #83ba06;
}

.errorCls {
      color: red;
}

.marginTop10PX {
      margin-top: 10px;
}